.logo{padding-bottom: 0; margin-bottom: 0;}

.mic-btn{border: 3px solid #0b92ac; border-radius: 100%; padding: 44px; min-height: 90px; max-width: 90px;}

.file-btn{border: 3px solid #FF652F; border-radius: 100%; padding: 44px; min-height: 90px; max-width: 90px;}

.mic-btn:hover, .file-btn:hover{cursor: pointer;}

.fa-microphone { color: #0b92ac; font-size: 35px; transition: all .25s ease-in-out; left: 50%; top: 50%; transform: translate(-50%,-50%);}

.fa-microphone:hover { color: #0eb6d8; font-size: 45px; cursor: pointer;}

.fa-file-audio { color: #FF652F; font-size: 35px; transition: all .25s ease-in-out; left: 50%; top: 50%; transform: translate(-50%,-50%); }

.fa-file-audio:hover { font-size: 45px; cursor: pointer; color: #d44916; }

.output-display { min-height: 250px; border: 1px solid; }

.fas, .fa { cursor: pointer; }

.brand-color{color: #0b92ac; font-weight: 800;}

.background { color:#272727;}

.sp-box{transition: all .2s ease-in-out;}